body {
    background: #67a198;
}

table {
    color: white;
}
p,
h2,
h3,
h4,
a,
label {
    color: white;
}

.nav-link {
    color: white;
}

h1 {
    color: red;
}

img {
    height: 50px;
    width: 50px;
}
